h1 {
    font-weight: lighter;
    text-align: center;
  }
  
  form {
    margin-top: 1rem;
  }
  
  
  .slottitle{
    width: 20%;
   }

  .record-time-manually-body{
    width: 40%;
    float: left;
    margin-right: 5%;
    margin-left: 15px
  }

  