
:host {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    border: solid rgba(0, 0, 0, 0.125) 1px;
    background-color: #E5E5E5;
  }
  
  :host(:first-of-type) {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }
  
  :host(:not(:first-of-type)) {
    border-top: none;
  }
  
  :host(:last-of-type) {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  :host(:hover) {
    background-color: #5cb85c;
  }
  
  .toggle-holiday {
    display: inline-flex;
    flex-shrink: 0;
    width: 1.75rem;
    height: 1.75rem;
    border: 1px solid #888;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  slot[name='title']::slotted(*) {
    flex-grow: 1;
    margin-left: 0.75rem;
  }

  slot[name='fromdate']::slotted(*) {
    flex-grow: 1;
    margin-left: 1rem;
  }

  slot[name='todate']::slotted(*) {
    flex-grow: 1;
    margin-left: 1.25rem;
  }

  .remove-holiday::before {
    font: normal normal normal 1.25rem/1 'Font Awesome 5 Free';
    color: #c5344e;
    content: '\f056';
  }
  